@charset "utf-8";
/* CSS Document */
.self_introduction{position:absolute; width:30%; overflow:scroll; left:0; top:0; padding:2%; bottom:0; display:none;}
.self_introduction .background{position:absolute; height:1500px;; top:0; bottom:0; left:0; right:0; background:url(../pic/IMG_2356.JPG) no-repeat center center; background-size:cover; opacity:.5;}
.self_introduction h2{font-size:28px; line-height:40px; width:40%; text-align:center; font-family:STHUPO; font-weight:normal;}
.self_introduction p{font-size:18px; line-height:25px; margin-top:20px;}


.main{position:absolute; width:100%; top:0; right:0; bottom:0; overflow:hidden; background:url(../pic/snow.jpg) no-repeat center center; background-size:cover; background-color:rgba(0,0,0,.3); transition:width 1s ease-in-out;}
.main .mask{position:absolute; top:0; left:0; bottom:0; right:0; background:rgba(0,0,0,.6); display:none;}
.main .about_me{position:absolute; top:35px; left:15px;; font-size:20px; line-height:25px; color:rgba(255,255,255,.5); font-style:italic; font-weight:bold;}
.main .resume{position:absolute; top:70px; left:15px;; font-size:20px; line-height:25px; color:rgba(255,255,255,.5); font-style:italic; font-weight:bold;}
.main .resume a:hover{color:rgba(255,255,255,1);}
.main .icon{position:absolute; width:20px; height:7px; top:20px; left:20px; background:rgba(255, 255, 255, 0.3); cursor:pointer;}
.main .icon:after{content:""; position:absolute; display:block; width:0; height:0; border-left:10px solid rgba(255, 255, 255, 0.3); border-top:10px solid transparent; border-bottom:10px solid transparent; border-right:10px solid transparent; left:20px; top:-6.5px;}
.main .icon:hover{background:rgba(255, 255, 255, 0.8);}
.main .icon:hover:after{border-left-color:rgba(255, 255, 255, 0.8);}
.main .poem{position:absolute; top:20%; left:50%; font-size:30px; color:rgba(0,0,0,.5); font-family:FZShuTi; animation:poem 2s ease-in-out forwards;}
@keyframes poem{
		0%{transform:skewX(90deg) scale(0.6,0.6);}
		33%{transform:skewX(0deg) scale(1.2,1.2);}
		66%{transform:skewX(-90deg) scale(0.6,0.6);}
		100%{transform:skewX(0deg) scale(1.2,1.2);}
	}

.main .poem > p:last-child{margin-left:70px;}
.main .nav{position:absolute; left:5%; bottom:5%}
.main .nav h2{ line-height:35px;}
.main .nav h2 a{display:inline-block; font-size:25px; letter-spacing:8px; line-height:50px; color:rgba(0,0,0,.5); transition:all 0.6s ease-in-out;}
.main .nav > h2:first-child > a{transform:rotate(10deg);}
.main .nav > h2:nth-child(2) > a{transform:rotate(-10deg);}
.main .nav > h2:nth-child(3) > a{transform:rotate(10deg);}
.main .nav > h2:nth-child(4) > a{transform:rotate(-10deg);}
.main .nav h2 a:hover{color:rgba(0,0,0,1); transform:scale(1.5,1.5);}
.main .nav p{margin-top:20px; color:rgba(255,255,255,.5);}
.main .nav p a{color:#fff; font-style:italic;}
.main .nav p a:hover{font-style:normal;}


.clock{width:200px; height:200px; background:rgba(0%,25%,50%,.2); border-radius:50%; right:1%; top:3%; position:absolute;}
.cneter{position:absolute; width:10px; height:10px; border-radius:5px; background:#fff; left:50%; top:50%; margin-left:-5px; margin-top:-5px;}
.hour-hand{position:absolute; width:40px; height:3px; background:#ccc; top:50%; left:50%; margin-top:-1.5px; transform-origin:left;}
.min-hand{position:absolute; width:60px; height:2px; background:#ccc; top:50%; left:50%; margin-top:-1px; transform-origin:left;}
.second-hand{position:absolute; width:80px; height:1px; background:#ccc; top:50%; left:50%; margin-top:-0.5px; /*margin-left:5px;*/ transform-origin:left;}

.hour-scale li,.min-scale li{position:absolute; height:2px; background:#fff; top:50%; left:50%; margin-top:-1px; transform-origin:left;}
.hour-scale li{width:10px;}
.min-scale li{width:5px;}

.number li{position:absolute; color:#fff;}
