@charset "utf-8";
/* CSS Document */
.wrapper{position:absolute; top:0; left:0; right:0; bottom:0; background:url(../pic/b0cff9dcaec9e5b7ff45b886116b1adc.jpg) no-repeat center center; background-size:cover; overflow:hidden;}
.wrapper div a{display:block; wdith:100%; height:100%;}
figure{margin:0; padding:0; width:370px; height:240px;}
.wrapper .top{width:100%; padding-top:2%;}
.wrapper .top .card1{margin:0 auto; position:relative;}

.wrapper .bottom{width:100%; margin-top:8%;}
.wrapper .bottom .card2{float:left; position:relative; margin-left:7%;}
.wrapper .bottom .card3{float:right; position:relative; margin-right:7%;}

.wrapper figure figcaption{position:absolute; font-size:30px; color:black; top:-15px; left:-20px;}

.wrapper figure img{border:10px solid #fff; transform-origin:center 200%; position:absolute;}
.wrapper figure img:first-child{transform:rotate(5deg); animation:openup 1s ease-in-out; transition:transform 1s ease-in-out;}
.wrapper figure img:nth-child(3){transform:rotate(-5deg); animation:opendown 1s ease-in-out; transition:transform 1s ease-in-out;}

@keyframes openup{
		from{transform:rotate(0);}
		to{transform:rotate(5deg);}
	}
@keyframes opendown{
		from{transform:rotate(0);}
		to{transform:rotate(-5deg);}
	}
